html {
    height: 350px;
}
body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    height: 350px;
}
#plugin_name {
    width: 330px;
    margin: 0 0;
    background-color: #195975;
}
h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}
h1 {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.rounded-circle {
    background: #58bc8a;
    width: 10rem;
    height: 10rem;
    padding: 10px;
    clear: both;
    align-content: center;
    margin: 0 auto; 

}
#site_score{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    top: 35px;
    margin-left: 3px;
    text-align: center;
    font-size: 50px;
}
#site_msg{
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 2px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #fff;
}

iframe {
    margin: 10px;
    display: inline-block;
}

a {
    text-align: center;
    display: block;
    color: #195975
}